@import "tailwindcss";

@theme {
  --color-gold: #ffdf00;
  --color-gold-glow: rgba(255, 223, 0, 0.5);
}

:root {
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  background-color: #030303;
}

body {
  background-color: #030303;
  margin: 0;
}

 
.glass-tile {
  background: rgba(40, 40, 45, 0.35); 
  backdrop-filter: blur(20px) saturate(160%);
  

  border-top: 1px solid rgba(255, 255, 255, 0.18);
  border-left: 1px solid rgba(255, 255, 255, 0.12);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5), 
              inset 0 0 1px 1px rgba(255, 255, 255, 0.03);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.glass-tile:hover {
  background: rgba(50, 50, 60, 0.5);
  border-top: 1px solid rgba(255, 223, 0, 0.4);
  transform: translateY(-5px);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.8);
}

.neon-gold {
  color: #ffdf00;
  text-shadow: 0 0 15px rgba(255, 223, 0, 0.6);
}

::-webkit-scrollbar { display: none; }